# Carga de datos a través de la función read_csv

In [1]:
%config IPCompleter.greedy=True

import pandas as pd
import os

In [2]:
mainpath = "/home/diego/Development/machine-learning/curso-joanbi/python-ml-course/datasets/"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(mainpath, filename)

In [3]:
data = pd.read_csv(fullpath)

In [4]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
data.columns.values

array(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype=object)

In [6]:
data_cols = pd.read_csv(mainpath + "customer-churn-model/Customer Churn Columns.csv")
data_cols_list = data_cols["Column_Names"].tolist()
#data_cols_list
data2 = pd.read_csv(mainpath + "customer-churn-model/Customer Churn Model.txt", header=None, names=data_cols_list)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Carga de datos a través de la función open

In [7]:
data3 = open(mainpath + "customer-churn-model/Customer Churn Model.txt", "r")

In [8]:
cols = data3.__next__().strip().split(",")
cols

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [9]:
counter = 0
main_dict = {}
for col in cols:
    main_dict[col] = []

In [10]:
for line in data3:
    values = line.strip().split(",")
    for i in range(len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1
print(f"El dataset tiene {counter} filas y {len(cols)} columnas")

El dataset tiene 3333 filas y 21 columnas

In [11]:
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Lectura y Escritura de ficheros

In [12]:
infile = mainpath + "customer-churn-model/Customer Churn Model.txt"
outfile = mainpath + "customer-churn-model/Tab Customer Churn Model.txt"

In [13]:
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

In [14]:
df4 = pd.read_csv(outfile, sep="\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Leer datos desde una URL

In [15]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [16]:
medals_data = pd.read_csv(medals_url)

In [17]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

## Carga manual desde internet

In [18]:
import csv
import urllib

In [19]:
response = urllib.request.urlopen(medals_url)
data = response.read().decode('utf-8').split("\n")

In [20]:
cr = csv.reader(data)

In [21]:
for row in cr:
    print(row)

, 'Turin', 'Skiing', 'Freestyle Ski.', 'AUS', 'aerials', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'AUS', 'moguls', 'M', 'Gold']
['2006', 'Turin', 'Luge', 'Luge', 'AUT', 'doubles', 'X', 'Gold']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'Alpine combined', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'Alpine combined', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'downhill', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'downhill', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'giant slalom', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'giant slalom', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'slalom', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'slalom', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'slalom', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'slalom', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'slalom', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'super-G', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'super-G', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'AUT', 'super-G', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'AUT', '50km', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Nordic Combined', 'AUT', 'Individual', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Nordic Combined', 'AUT', 'Individual sprint', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Nordic Combined', 'AUT', 'Team', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Ski Jumping', 'AUT', 'K120 individual (90m)', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Ski Jumping', 'AUT', 'K120 individual (90m)', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Ski Jumping', 'AUT', 'K120 team (90m)', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'AUT', 'Giant parallel slalom', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'BLR', 'aerials', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Short Track S.', 'BUL', '500m', 'W', 'Silver']
['2006', 'Turin', 'Bobsleigh', 'Bobsleigh', 'CAN', 'two-man', 'M', 'Silver']
['2006', 'Turin', 'Bobsleigh', 'Skeleton', 'CAN', 'individual', 'M', 'Gold']
['2006', 'Turin', 'Bobsleigh', 'Skeleton', 'CAN', 'individual', 'M', 'Silver']
['2006', 'Turin', 'Bobsleigh', 'Skeleton', 'CAN', 'individual', 'W', 'Bronze']
['2006', 'Turin', 'Curling', 'Curling', 'CAN', 'curling', 'M', 'Gold']
['2006', 'Turin', 'Curling', 'Curling', 'CAN', 'curling', 'W', 'Bronze']
['2006', 'Turin', 'Ice Hockey', 'Ice Hockey', 'CAN', 'ice hockey', 'W', 'Gold']
['2006', 'Turin', 'Skating', 'Figure skating', 'CAN', 'individual', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Short Track S.', 'CAN', '3000m relay', 'W', 'Silver']
['2006', 'Turin', 'Skating', 'Short Track S.', 'CAN', '5000m relay', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Short Track S.', 'CAN', '500m', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Short Track S.', 'CAN', '500m', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'CAN', '1000m', 'W', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'CAN', '1500m', 'W', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'CAN', '1500m', 'W', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'CAN', '3000m', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'CAN', '5000m', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'CAN', '5000m', 'W', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'CAN', 'Team pursuit', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'CAN', 'Team pursuit', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'CAN', 'Sprint 1.5km', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'CAN', 'Team sprint', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'CAN', 'moguls', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'CAN', 'Snowboard Cross', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Figure skating', 'CHN', 'pairs', 'X', 'Bronze']
['2006', 'Turin', 'Skating', 'Figure skating', 'CHN', 'pairs', 'X', 'Silver']
['2006', 'Turin', 'Skating', 'Short Track S.', 'CHN', '1000m', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Short Track S.', 'CHN', '1000m', 'W', 'Silver']
['2006', 'Turin', 'Skating', 'Short Track S.', 'CHN', '1500m', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Short Track S.', 'CHN', '1500m', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Short Track S.', 'CHN', '500m', 'W', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'CHN', '500m', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'CHN', '500m', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'CHN', 'aerials', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'CHN', 'aerials', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'CRO', 'Alpine combined', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'CRO', 'Alpine combined', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'CRO', 'super-G', 'W', 'Silver']
['2006', 'Turin', 'Ice Hockey', 'Ice Hockey', 'CZE', 'ice hockey', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'CZE', '15km', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'CZE', '30km', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'CZE', 'Combined 7.5 + 7.5km mass start', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'EST', '10km', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'EST', '15km', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'EST', 'Combined 7.5 + 7.5km mass start', 'W', 'Gold']
['2006', 'Turin', 'Curling', 'Curling', 'FIN', 'curling', 'M', 'Silver']
['2006', 'Turin', 'Ice Hockey', 'Ice Hockey', 'FIN', 'ice hockey', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'FIN', 'giant slalom', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'FIN', 'Team sprint', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'FIN', 'moguls', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Nordic Combined', 'FIN', 'Team', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Ski Jumping', 'FIN', 'K120 team (90m)', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Ski Jumping', 'FIN', 'K90 individual (70m)', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Snowboard', 'FIN', 'Half-pipe', 'M', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'FRA', '12.5km pursuit', 'M', 'Gold']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'FRA', '4x6km relay', 'W', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'FRA', '4x7.5km relay', 'M', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'FRA', '7.5km', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'FRA', 'downhill', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'FRA', 'giant slalom', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'FRA', 'Sprint 1.5km', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'FRA', 'moguls', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Snowboard', 'FRA', 'Snowboard Cross', 'M', 'Bronze']
['2006', 'Turin', 'Bobsleigh', 'Skeleton', 'GBR', 'individual', 'W', 'Silver']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'GER', '10km', 'M', 'Gold']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'GER', '10km pursuit', 'W', 'Gold']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'GER', '10km pursuit', 'W', 'Silver']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'GER', '12.5km mass start', 'W', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'GER', '12.5km mass start', 'W', 'Silver']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'GER', '12.5km pursuit', 'M', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'GER', '15km', 'W', 'Silver']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'GER', '15km mass start', 'M', 'Gold']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'GER', '20km', 'M', 'Gold']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'GER', '4x6km relay', 'W', 'Silver']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'GER', '4x7.5km relay', 'M', 'Gold']
['2006', 'Turin', 'Bobsleigh', 'Bobsleigh', 'GER', 'four-man', 'M', 'Gold']
['2006', 'Turin', 'Bobsleigh', 'Bobsleigh', 'GER', 'two-man', 'M', 'Gold']
['2006', 'Turin', 'Bobsleigh', 'Bobsleigh', 'GER', 'two-man', 'W', 'Gold']
['2006', 'Turin', 'Luge', 'Luge', 'GER', 'doubles', 'X', 'Silver']
['2006', 'Turin', 'Luge', 'Luge', 'GER', 'singles', 'W', 'Bronze']
['2006', 'Turin', 'Luge', 'Luge', 'GER', 'singles', 'W', 'Gold']
['2006', 'Turin', 'Luge', 'Luge', 'GER', 'singles', 'W', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'GER', '1000m', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'GER', '5000m', 'W', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'GER', 'Team pursuit', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'GER', '15km', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'GER', '4x10km relay', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'GER', '4x5km relay', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'GER', 'sprint 1.5km', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Nordic Combined', 'GER', 'Individual', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Nordic Combined', 'GER', 'Individual sprint', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Nordic Combined', 'GER', 'Team', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Snowboard', 'GER', 'Giant parallel slalom', 'W', 'Silver']
['2006', 'Turin', 'Bobsleigh', 'Bobsleigh', 'ITA', 'two-man', 'W', 'Bronze']
['2006', 'Turin', 'Luge', 'Luge', 'ITA', 'doubles', 'X', 'Bronze']
['2006', 'Turin', 'Luge', 'Luge', 'ITA', 'singles', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Short Track S.', 'ITA', '3000m relay', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'ITA', '1500m', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'ITA', '5000m', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'ITA', 'Team pursuit', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'ITA', '4x10km relay', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'ITA', '4x5km relay', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'ITA', '50km', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'ITA', 'Combined 15 + 15km mass start', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Figure skating', 'JPN', 'individual', 'W', 'Gold']
['2006', 'Turin', 'Skating', 'Short Track S.', 'KOR', '1000m', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Short Track S.', 'KOR', '1000m', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Short Track S.', 'KOR', '1000m', 'W', 'Gold']
['2006', 'Turin', 'Skating', 'Short Track S.', 'KOR', '1500m', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Short Track S.', 'KOR', '1500m', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Short Track S.', 'KOR', '1500m', 'W', 'Gold']
['2006', 'Turin', 'Skating', 'Short Track S.', 'KOR', '1500m', 'W', 'Silver']
['2006', 'Turin', 'Skating', 'Short Track S.', 'KOR', '3000m relay', 'W', 'Gold']
['2006', 'Turin', 'Skating', 'Short Track S.', 'KOR', '5000m relay', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Short Track S.', 'KOR', '500m', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'KOR', '500m', 'M', 'Bronze']
['2006', 'Turin', 'Luge', 'Luge', 'LAT', 'singles', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'NED', '10000m', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'NED', '10000m', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'NED', '1000m', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'NED', '1000m', 'W', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'NED', '1500m', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'NED', '3000m', 'W', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'NED', '3000m', 'W', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'NED', '5000m', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'NED', 'Team pursuit', 'M', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'NOR', '10km', 'M', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'NOR', '10km', 'M', 'Silver']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'NOR', '12.5km pursuit', 'M', 'Silver']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'NOR', '15km mass start', 'M', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'NOR', '20km', 'M', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'NOR', '20km', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'NOR', 'super-G', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'NOR', '10km', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'NOR', '10km', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'NOR', 'Combined 15 + 15km mass start', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'NOR', 'Team sprint', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'NOR', 'moguls', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Nordic Combined', 'NOR', 'Individual', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Nordic Combined', 'NOR', 'Individual sprint', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Ski Jumping', 'NOR', 'K120 individual (90m)', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Ski Jumping', 'NOR', 'K120 team (90m)', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Ski Jumping', 'NOR', 'K90 individual (70m)', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Ski Jumping', 'NOR', 'K90 individual (70m)', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'NOR', 'Half-pipe', 'W', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'POL', '15km mass start', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'POL', '30km', 'W', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'RUS', '10km pursuit', 'W', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'RUS', '15km', 'W', 'Bronze']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'RUS', '15km', 'W', 'Gold']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'RUS', '4x6km relay', 'W', 'Gold']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'RUS', '4x7.5km relay', 'M', 'Silver']
['2006', 'Turin', 'Bobsleigh', 'Bobsleigh', 'RUS', 'four-man', 'M', 'Silver']
['2006', 'Turin', 'Luge', 'Luge', 'RUS', 'singles', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Figure skating', 'RUS', 'ice dancing', 'X', 'Gold']
['2006', 'Turin', 'Skating', 'Figure skating', 'RUS', 'individual', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Figure skating', 'RUS', 'individual', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Figure skating', 'RUS', 'pairs', 'X', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'RUS', '500m', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'RUS', '500m', 'W', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'RUS', 'Team pursuit', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'RUS', '30km', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'RUS', '4x5km relay', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'RUS', '50km', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'RUS', 'Combined 15 + 15km mass start', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'RUS', 'Combined 7.5 + 7.5km mass start', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'RUS', 'sprint 1.5km', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'RUS', 'Team sprint', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'RUS', 'aerials', 'M', 'Bronze']
['2006', 'Turin', 'Bobsleigh', 'Bobsleigh', 'SUI', 'four-man', 'M', 'Bronze']
['2006', 'Turin', 'Bobsleigh', 'Bobsleigh', 'SUI', 'two-man', 'M', 'Bronze']
['2006', 'Turin', 'Bobsleigh', 'Skeleton', 'SUI', 'individual', 'M', 'Bronze']
['2006', 'Turin', 'Bobsleigh', 'Skeleton', 'SUI', 'individual', 'W', 'Gold']
['2006', 'Turin', 'Curling', 'Curling', 'SUI', 'curling', 'W', 'Silver']
['2006', 'Turin', 'Skating', 'Figure skating', 'SUI', 'individual', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'SUI', 'downhill', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'SUI', 'downhill', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'SUI', 'super-G', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'SUI', 'aerials', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'SUI', 'Giant parallel slalom', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'SUI', 'Giant parallel slalom', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Snowboard', 'SUI', 'Giant parallel slalom', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'SUI', 'Snowboard Cross', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'SVK', 'Snowboard Cross', 'M', 'Silver']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'SWE', '12.5km mass start', 'W', 'Gold']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'SWE', '7.5km', 'W', 'Silver']
['2006', 'Turin', 'Curling', 'Curling', 'SWE', 'curling', 'W', 'Gold']
['2006', 'Turin', 'Ice Hockey', 'Ice Hockey', 'SWE', 'ice hockey', 'M', 'Gold']
['2006', 'Turin', 'Ice Hockey', 'Ice Hockey', 'SWE', 'ice hockey', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'SWE', 'Alpine combined', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'SWE', 'downhill', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'SWE', 'giant slalom', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'SWE', 'slalom', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'SWE', '4x10km relay', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'SWE', 'Sprint 1.5km', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'SWE', 'Sprint 1.5km', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'SWE', 'Team sprint', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Cross Country S', 'SWE', 'Team sprint', 'W', 'Gold']
['2006', 'Turin', 'Biathlon', 'Biathlon', 'UKR', '7.5km', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Figure skating', 'UKR', 'ice dancing', 'X', 'Bronze']
['2006', 'Turin', 'Bobsleigh', 'Bobsleigh', 'USA', 'two-man', 'W', 'Silver']
['2006', 'Turin', 'Curling', 'Curling', 'USA', 'curling', 'M', 'Bronze']
['2006', 'Turin', 'Ice Hockey', 'Ice Hockey', 'USA', 'ice hockey', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Figure skating', 'USA', 'ice dancing', 'X', 'Silver']
['2006', 'Turin', 'Skating', 'Figure skating', 'USA', 'individual', 'W', 'Silver']
['2006', 'Turin', 'Skating', 'Short Track S.', 'USA', '1000m', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Short Track S.', 'USA', '5000m relay', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Short Track S.', 'USA', '500m', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '10000m', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '1000m', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '1000m', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '1500m', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '1500m', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '5000m', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '500m', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'USA', 'Alpine combined', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'USA', 'giant slalom', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'USA', 'moguls', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Giant parallel slalom', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Half-pipe', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Half-pipe', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Half-pipe', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Half-pipe', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Snowboard Cross', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Snowboard Cross', 'W', 'Silver']

# Ficheros XLS y XLSX

In [22]:
mainpath = "/home/diego/Development/machine-learning/curso-joanbi/python-ml-course/datasets/"
filename = "titanic/titanic3.xls"

In [23]:
titanic2 = pd.read_excel(mainpath + filename, "titanic3")

In [24]:
titanic3 = pd.read_excel(mainpath + filename, "titanic3")

In [25]:
titanic3.to_csv(mainpath + "titanic/titanic_custom.csv")